@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome there!</h1>
   <h3> <a class= "te" asp-controller="Home" asp-action="Registration">Registration</a></h3>
</div>


<style>
    body {
        background-image:url(https://lh3.googleusercontent.com/whSb2NbuGWDpRPxGCU98qc6c0Bf_BfWys-AsA0HPIxcoFtXCdCvOJiRwFBn_mF_bRljvEWI=s170);
            background-size:cover;
    }
</style>