@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p class="policy">
    

    This privacy policy ("Policy") describes the information 
    that Panera Bread ("Panera," "we," or "us" or "our") collects on panerabread.com, 
    mobile.panerabread.com, or any other authorized websites, mobile applications, 
    in-store kiosks, other online services, tools or programs where this Policy appears, and in 
    connection with our Programs available through the Services (for example, MyPanera) (collectively, the "Services"), 
    how we use such information, and when we share it with third parties. 
    This Policy applies only to information collected via the Services. 
    We may combine the information we collect through our Services with 
    information that we receive in other contexts (including information you provide or 
    that we obtain over the phone, via fax, or when you visit a Panera Bread bakery-cafe, 
    or information we obtain from franchisees or referrals), in which case we will treat the combined information 
    in accordance with this Policy. While job openings are identified as part of the Services, the process of 
    applying for a job is conducted on a separate website(s) not subject to this Policy. 
    Please note that not all of the features/functionality described in this Policy are 
    available on or through each portion of the Services.

    </p>
<p class="policy">

    This Policy is part of the Terms of Use ("Terms") for our Services. Separate terms 
    may also apply to certain/other programs and services offered by Panera ("Programs"). By using the Services,
    you agree to this Policy, 
    the Terms, and any applicable Program terms.
    We may change or modify this Policy from time to time and will post 
    the updated Policy with a "Last Updated" effective date of the revisions. 
    Any changes or modifications will be effective immediately upon posting of the changes or modifications, 
    and to the extent permitted by law you waive any right you may have to 
    receive specific notice of such changes or modifications. Your continued access to or use of the Services 
    and/or participation in any of the Programs after this Policy has been changed or modified (see Last Updated date above) signifies your acceptance 
    of the updated Policy. As a result, you should frequently review this Policy and the Terms 
    to understand the terms and conditions that apply to your access to, use of and/or participation in the Services. 
    If you do not agree to the changed or modified Policy and Terms, do not use the Services.
</p>

<style>
    
    body
    {
        background-image:url(https://media.timeout.com/images/105287592/1372/772/image.jpg);
            background-size:cover; 
    }

    .policy{
         font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: white;
    }
    </style>
